<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.faktorizvesnosti" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnosPravila"
            android:label="@string/title_activity_pravila"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Algoritam"
            android:label="@string/title_activity_algoritam"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ostalo"
            android:label="@string/title_activity_ostalo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Resenje"
            android:label="@string/title_activity_resenje"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--
        <activity
            android:name=".UnosPravila"
            android:label="@string/title_activity_unos_pravila"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        -->

    </application>

</manifest>
